.clearfix:before{
     content:"";
     display:table;
}
.clearfix:after{
     content:"";
     clear:both;
}
body{
	background: url(../image/keyboard-bg.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.mains{
	display: none;
}
/*header*/
.header{
	width: 100%;
	height: 50px;
	position: absolute;
	background-color: transparent;
	position: fixed;
	z-index: 99;
}
.header_animate{
	-webkit-animation:header .5s  linear forwards;
    animation:header .5s linear forwards;
}
@-webkit-keyframes header {
	to{
		background-color: black;
	}
}
@keyframes header {
	to{
		background-color: black;
	}
}


.header ul{
	float: right;
}
.header li{
	float: left;
	list-style: none;
}
.header li a{
	text-decoration: none;
	color: #8c9398;
	padding:0 10px;
	border-radius: 5px;
	margin: 3px 5px;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	display: block;
}
.con{
	border:2px solid #3dc9b3;
}
.banner{
	background: url(../image/hero-bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.banner .title {
	width:400px;
	height: 300px;
	margin: 0 auto;
	margin-top: 15%;
}
.banner .title p:nth-child(1) {
	width: 80%;
	color: #9FA1A2;
	border:3px solid #9FA1A2;
	border-left: none;
	border-right:none;
	height: 100px;
	margin: 0 auto;
	line-height: 100px;
	font-size: 4em;
	text-align: center;
}
.banner .title p:nth-child(2) {
	color: #5A5D61;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
}
.banner .title a{
	width: 40px;
	height: 40px;
	border-radius: 45px;
	display: block;
	margin: 70px auto 0px auto;
	background-color: black;
	opacity: 0.3;
	-webkit-transition-property:opacity;
	transition-property:opacity;
	-webkit-transition-duration:1s;
	        transition-duration:1s;
}
.banner .title a i{
	margin-left: 33% !important;
	margin-top: 30% !important;
	color:#ffffff !important;
}

.banner .title a:hover{
	opacity: 1;
}
/*about*/
#about{
	background-color: #f3f5f8;
	width: 100%;
	height: 400px;
}
#about .content{
	width: 60%;
	height:100%;
	margin-left: 14%;
	opacity: 0;
}
.content_animate{
	-webkit-animation:about 3s  linear forwards;
    animation:about 3s linear forwards;

}
@-webkit-keyframes about {
	to{
		margin-left: 20%;
		opacity: 1;
	}
}
@keyframes about {
	to{
		margin-left: 20%;
		opacity: 1;
	}
}
#about .content div{
	width: 100%;
	height: 20%;
	background: url(../image/h1-bg.png) no-repeat center;
	margin-top: 100px;
}
#about .content div p{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
#about .content p{
	width: 100%;
	height: 60%;
	text-align: center;
	color: #8C9398;
	font-size: 1em;
	font-weight: bolder;
}
/*info*/
#info{
	background-color: #FFFFFF;
}
#info .content{
	width: 80%;
	height: 100%;
	margin-left: 10%;
	display: inline-block;
}
#info .content .title p{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color:#A1A9B0;

}
#info .content .title{
	width: 100%;
	height: 12%;
	margin-top: 70px;
	background: url(../image/h1-bg.png) no-repeat center;
}
#info .content .detailed{
	width: 100%;
	height: 60%;
	margin-top: 30px;
	left: 0;
	position: absolute;
}
#info .content .detailed .card{
	width:33.3%;
	height: 100%;
	float:left;
	opacity: 0;
	margin-top: 15%;
	box-sizing:border-box;
	z-index: 99;
}
.dis_animate{
	-webkit-animation:card1 1s  linear forwards;
    animation:card1 1s linear forwards;
}
.web_animate{
	-webkit-animation:card1 1s 1s linear forwards;
    animation:card1 1s 1s linear forwards;
}
.pro_animate{
	-webkit-animation:card1 1s 2s linear forwards;
    animation:card1 1s 2s linear forwards;
}
@-webkit-keyframes card1 {
	to{
		margin-top:0px;
		opacity: 1;
	}
}
@keyframes card1 {
	to{
		margin-top:0px;
		opacity: 1;
	}
}
#info .content .detailed .card .logo{
	width: 190px;
	height: 190px;
	background-color: #3dc9b3;
	border-radius: 200px;
	margin: 0 auto;
}
#info .content .detailed .card .logo i{
	color: #FFFFFF !important;
	margin-left: 30%;
	margin-top: 25%;
}
.info_title{
	border-bottom:5px solid #3dc9b3;
	text-align: center;
	width: 30%;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}
.info_content{
	width: 80%;
	height: 30%;
	margin-left:10%;
	margin-top: 20px;
	text-align: center;
	line-height: 100px;
	color: #8C9398;
	font-weight: bolder;
	font-size: 1em;
}
/*tech*/
#tech{
	background-size: cover;
	background-color: #FFFFFF;
}
#tech .title{
	width: 100%;
	height: 12%;
	display: inline-block;
	margin-top: 40px;
	background: url(../image/h1-bg.png) no-repeat center;
}
#tech .title p{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: black;
}
.tech_details{
	width: 65%;
	margin-left: 18%;
	height: 80%;
}
.tech_card{
	width:30%;
	height:30%;
	margin: 1%;
	border:4px solid #242830;
	float: left;
	box-sizing:border-box;
	-webkit-perspective: 1000;
	        perspective: 1000;
}
.tech_details .tech_card:nth-child(1) .turn .before{
	background: url(../image/html5.png) no-repeat  center;
}
.tech_details .tech_card:nth-child(2) .turn .before{
	background: url(../image/css3.png) no-repeat   center;
	background-size: 40% 80%;
}
.tech_details .tech_card:nth-child(3) .turn .before{
	background: url(../image/jq.jpg) no-repeat center;
	background-size: 40% 70%;
}
.tech_details .tech_card:nth-child(4) .turn .before{
	background: url(../image/github.jpg) no-repeat center;
	background-size: 50% 80%;
}
.tech_details .tech_card:nth-child(5) .turn .before{
	background: url(../image/sass.svg) no-repeat  center;
	background-size: 40% 80%;
}
.tech_details .tech_card:nth-child(6) .turn .before{
	background: url(../image/webpack.png) no-repeat  center;
	background-size: 80% 80%;
}
.tech_details .tech_card:nth-child(7) .turn .before{
	background: url(../image/logo.png) no-repeat  center;
}
.tech_details .tech_card:nth-child(8) .turn .before{
	background: url(../image/rect.svg) no-repeat  center;
	background-size: 40% 80%;
}
.tech_details .tech_card:nth-child(9) .turn .before{
	background: url(../image/gulp.svg) no-repeat  center;
	background-size: 40% 80%;
}
.turn{
	width: 100%;
	height: 100%;
	-webkit-transition:0.6s;
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	position: relative;
}
.tech_card:hover .turn, .tech_card:hover .turn {
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
	}
.before{
	position: absolute;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(234,245,248,0.2);
}
.before img{
	margin: 0 auto;
	display: block;
	margin-top: 2%;
}
.after{
	position: absolute;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	top: 0;
	left: 0;
	background-color:#FFFFFF;
	opacity: .5;
	width: 100%;
	height: 100%;
}
.progress {
  width: 80%;
  height: 20px;
  background: #ebebeb;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
  margin-top: 25%;
  margin-left: 10%;
}
.progress > span {
  position: relative;
  float: left;
  margin: 0 -1px;
  min-width: 30px;
  height: 18px;
  line-height: 16px;
  text-align: right;
  background: #cccccc;
  border: 1px solid;
  border-color: #bfbfbf #b3b3b3 #9e9e9e;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.progress > span > span {
  padding: 0 8px;
  font-size: 11px;
  font-weight: bold;
  color: #404040;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
.progress > span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 18px;
  background: url("../img/progress.png") 0 0 repeat-x;
  border-radius: 10px;
}
.progress .green {
  background: #85c440;
  border-color: #78b337 #6ba031 #568128;
  background-image: -webkit-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: linear-gradient(to bottom, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
}
.before{
 	z-index:2;
}
.after{
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

/*EX*/
#ex_label{
	width: 100%;
	padding: 5% 0;
}
#ex_label  p:nth-child(1){
	text-align: center;
	font-size: 40px;
	color: #FFFFFF;
	font-weight: bold;
}
/*项目*/
.ex{
	background-color: #FFFFFF;
}
.ex .details{
	width: 80%;
	height: 80%;
	display: inline-block;
	margin-top: 20px;
	margin-left: 10%;
}
.ex .details .card{
	width:30%;
	height: 100%;
	float:left;
	margin-left: 3%;
	overflow: hidden;
	box-sizing:border-box;
}
.ex .details .card .img{
	width: 100%;
	height: 40%;
	margin-top: 10%;
	overflow: hidden;
}
.ex .details .card .img img{
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform: scale(1);
	-ms-transform: scale(1);	/* IE 9 */
	-webkit-transform: scale(1);	/* Safari 和 Chrome */
	-o-transform: scale(1);	/* Opera */
	-moz-transform: scale(1);
	transition-property:-webkit-transform;
	-webkit-transition-property:-webkit-transform;
	transition-property:transform;
	transition-property:transform, -webkit-transform;
	-webkit-transition-duration:1s;
	        transition-duration:1s;
}
.ex .details .card .img img:hover{
		transform: scale(1.5);
	-ms-transform: scale(1.5);	/* IE 9 */
	-webkit-transform: scale(1.5);	/* Safari 和 Chrome */
	-o-transform: scale(1.5);	/* Opera */
	-moz-transform: scale(1.5)
}
.ex .details .card  .title{
	width: 40%;
	height: 10%;
	border-bottom: 5px solid #3dc9b3;
	margin-left: 30%;
	text-align: center;
	line-height:50px;
	font-weight: bold;
}
.ex .details .card .content{
	width: 100%;
	height: 30%;
	font-size: 10px;
	color:#8C9398;
	text-align: center;
	font-weight: bolder;
}
.ex .details .card .content div:nth-child(1){
	margin-top: 10%;
}
#label2{
	width: 100%;
	padding: 4% 0;
	background-color: #242830;
}
#label2 .content{
	width: 20%;
	margin-left: 40%;
	padding: 1.5% 0;
	border:3px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	display: block;
	text-align: center;
	-webkit-transition-property:bordr,color;
	transition-property:bordr,color;
	-webkit-transition-duration:.5s;
	        transition-duration:.5s;

}
#label2 .content:hover{
	border:3px solid #3DC9B3;
	color:#3DC9B3;
}

/*学习*/
#study{
	background-color: #FFFFFF;
	/*box-sizing:border-box;*/
}
#study  .right .title{
	width: 100%;
	height: 12%;
	display: inline-block;
	margin-top: 30%;
	background: url(../image/h1-bg.png) no-repeat center;
}
#study .title p{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
#study .left{
	width: 50%;
	height: 100%;
	float: left;
	background-color: #f3f5f8
}
#study .right{
	width: 40%;
	height: 100%;
	margin-left: 3%;
	float: left;
}
#study .right p{
	text-align: center;
}
.footer_label{
	background: url(../image/plants-bg.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	padding: 5% 0;
}
.footer_label  p:nth-child(1){
	text-align: center;
	font-size: 40px;
	color: #FFFFFF;
	font-weight: bold;
}
.footer_label p:nth-child(2){
	margin-top: 15px;
	text-align: center;
	font-weight:bold;
	color: #FFFFFF;

}
.footer_label  p:nth-child(3){
	text-align: center;
	margin-top: 3px;
	color: #FFFFFF;
	font-weight:bold;
}
.footer_label .top{
	width:40px;
	height: 40px;
	background-color:black;
	position: relative;
	left:48.6%;
	top:90px;
	opacity: .5;
	border-radius: 50%;
	-webkit-transition-property:opacity;
	transition-property:opacity;
	-webkit-transition-duration:1s;
	        transition-duration:1s;
}
.footer_label .top i{
	margin-left: 34% !important;
	margin-top: 25% !important;
	color:#ffffff !important;
}
.footer_label .top:hover{
	opacity: 1;
}
#con{
	background-color: #f3f5f8;
}
#con .title{
	width: 100%;
	height: 12%;
	display: inline-block;
	margin-top: 80px;
	background: url(../image/h1-bg.png) no-repeat center;
}
#con .title p{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding-left: 1%;
}
#con .content{
	width: 80%;
	height: 50%;
	margin-left: 10%;
}
#con .content .card{
	width: 30%;
	height: 70%;
	margin-left: 3%;
	margin-top: 5%;
	background-color: #FFFFFF;
	float: left;
	box-sizing:border-box;
	border-bottom: 3px solid #FFFFFF;
	-webkit-transition-property:margin-top,border-bottom;
	transition-property:margin-top,border-bottom;
	-webkit-transition-duration:1s;
	        transition-duration:1s;
}
#con .content .card:hover{
	margin-top: 3%;
	border-bottom:3px solid #3DC9B3;
}
#con .content .card .icon{
	width: 100%;
	height: 20%;
	margin-top: 10%;
}
#con .content .card .icon div{
	width: 10%;
	margin-left: 47%;
}
#con .content .card .slogn{
	width: 30%;
	height: 20%;
	margin-left: 35%;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	color:#3DC9B3;
	border-bottom: 3px solid #3DC9B3;
}
#con .content .card:nth-child(1) .content{
	width: 60%;
	margin-left: 20%;
	text-align: center;
	color: #3DC9B3;
	font-weight: bold;
	letter-spacing: 10px;
	margin-top: 5%;
}
#con .content .card:nth-child(2) .content,#con .content .card:nth-child(3) .content{
	width: 60%;
	margin-left: 20%;
	text-align: center;
	color: #3DC9B3;
	font-weight: bold;
	margin-top: 5%;
}
/*footer*/
.footer{
	width: 100%;
	height: 150px;
	background-color: #242830;
}
.footer .left{
	width: 50%;
	height: 100%;
	color: #A1A9B0;
	float: left;
}
.footer .left div{
	display: inline-block;
	font-size: 15px;
	font-weight: bolder;
}
.footer .left div:hover{
	color:#3DC9B3;
}
.footer .left div:nth-child(1){
	border-right: 2px solid #FFFFFF;
	padding-right: 3px;
	margin-left: 25%;
	margin-top: 50px;
}
.footer .right{
	width: 49%;
	height: 100%;
	float: right;
}
.footer .right div{
	color: #A1A9B0;
	width: 40%;
	margin-left: 30%;
	margin-top: 50px;
	font-size: 15px;
	font-weight: bolder;
}
.footer .right div:hover{
	color:#3DC9B3;
}
 @media (max-width: 414px){
	.show_page{
		display: none;
	}
	.mains{
		display: block;
	}
 }